@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --main-bg-color: 95, 158, 160; /* cadetblue */
  --main-black-color: #333;
  --main-dark-blue-color: #282c34;
  --main-white-color: #ccc;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: url("../images/bg.jpg") no-repeat center/cover;
  background-color: var(--main-bg-color);
  color: var(--main-black-color);
  font-family: "Montserrat", "Roboto", sans-serif;
  letter-spacing: 0.05rem;
}

* {
  box-sizing: border-box;
}

.container {
  background-color: rgba(var(--main-bg-color), 0.95);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 380px;
  min-height: 100vh;
}

.content {
  flex: 1;
}
