@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.05rem;
  background-color: var(--main-bg-color);
  background: url("../images/bg1.jpg") no-repeat center/ cover;
  color: var(--main-black-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

:root {
  --main-black-color: #333;
  --main-bg-color: cadetblue;
  --main-white-color: #ccc;
  --main-blue-color: #282c34;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 380px;
  margin: auto;
  background-color: var(--main-bg-color);
}

.content {
  flex: 1;
}
