.maint-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.maint-li {
  background-color: #fff;
  border-radius: 10px;
  margin: 0 0 10px 0;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 20px 10px;
}

.maint-li div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  padding-top: 0.5rem;
}

.maint-car {
  text-transform: uppercase;
  font-weight: bold;
}

.maint-btn {
  background-color: #282c34;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  height: 20px;
  width: 30%;
  margin-top: 10px;
  margin-left: auto;
  letter-spacing: 1px;
  padding: 1rem;
  text-transform: uppercase;
  transition: background-color 0.3s;
}

.maint-btn:hover {
  background-color: orange;
  color: #282c34;
}
