@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.checkout-subtitle {
  font-weight: bold;
  margin-bottom: 10px;
}

.checkout-subtitle div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #282c34;
  padding-top: 0.5rem;
}

.checkout-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Leggera ombra per profondità */
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #282c34;
  background-color: #fff;
  letter-spacing: 0.05rem;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.checkout-input:focus {
  border-color: #282c34;
  outline: none;
  box-shadow: 0 0 0 2px orange;
}

.checkout-input::placeholder,
select option:disabled {
  color: #aaa;
  opacity: 1;
}

.checkout-btn {
  width: 50%;
  height: 60px;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  text-transform: uppercase;
  color: #ccc;
  background-color: brown;
  letter-spacing: 1px;
  cursor: pointer;
  margin-left: auto;
}
