@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.departure-input {
  align-items: center;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #282c34;
  display: flex;
  height: 60px;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  justify-content: space-between;
  letter-spacing: 0.05rem;
  padding: 1rem;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.departure-input:focus {
  border-color: #282c34;
  box-shadow: 0 0 0 2px orange;
  outline: none;
}

.departure-input::placeholder {
  color: #aaa;
  opacity: 1;
}

.departure-btn {
  background-color: green;
  border: none;
  border-radius: 10px;
  color: #ccc;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  height: 60px;
  width: 50%;
  margin-left: auto;
  letter-spacing: 1px;
  padding: 1rem;
  text-transform: uppercase;
  transition: background-color 0.3s;
}

.departure-btn:hover {
  background-color: orange;
  color: #282c34;
}
