@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.departure-container {
  display: grid;
  place-content: center;
  text-align: center;
  gap: 0.5rem;
}

.departure-title {
  font-weight: bold;
  text-transform: uppercase;
  width: 300px;
  margin: 1rem;
}

.departure-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  color: #282c34;
  padding: 1rem 1rem;
  border: none;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Leggera ombra per profondità */
  transition: border-color 0.3s, box-shadow 0.3s;
}

.departure-input:focus {
  border-color: #282c34;
  outline: none;
  box-shadow: 0 0 0 2px orange;
}

.departure-input::placeholder,
.departure-radio-placeholder {
  color: #aaa;
  opacity: 1;
}

/* radio */
label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.departure-btn {
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 1rem;
  background-color: #282c34;
  color: #ccc;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.departure-btn:hover {
  color: #282c34;
  background-color: orange;
}
