.driver-btn {
  align-items: center;
  background-color: #282c34;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #ccc;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  height: 60px;
  justify-content: space-between;
  padding: 0 1rem;
  text-align: left;
  text-transform: capitalize;
  transition: background-color 0.3s, transform 0.3s;
}

.driver-btn:hover {
  background-color: orange;
  color: #282c34;
}
