.trip-ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.trip-li {
  position: relative;
  padding: 40px 10px 10px 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  margin-bottom: 20px;
}

.trip-partenza,
.trip-checkout,
.trip-driver {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid grey;
}

.trip-driver {
  position: absolute;
  top: 0;
  left: 50%;
  display: grid;
  width: 80%;
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Leggera ombra */
  text-align: center;
  color: #ccc; /* Colore del testo chiaro */
  background-color: #282c34; /* Colore di sfondo scuro */
  transform: translate(-50%, -50%); /* Per centrare l'elemento */
  white-space: nowrap; /* Impedisce la rottura delle parole */
}

label {
  font-weight: bold;
  text-transform: capitalize;
  color: cadetblue;
}

.trip-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
