footer {
  background-color: #282c34;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  text-transform: uppercase;
  text-align: center;
  padding: 0.5rem;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
  flex-shrink: 0;
}

.footer-agis {
  color: cadetblue;
}

footer h5 {
  color: #ccc;
  margin: 0;
}
